main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 30px 0;
}

.logo .logo-title {
    font-family: Poppins;
    font-size: 1.5rem;
}

.quiz-title {
    width: fit-content;
    font-size: 3rem;
    font-weight: bold;
    font-family: Poppins;
    padding: 100px 90px;
    border-radius: 50%;
    margin: 0 auto;
    color: #ff3b3c;
    /* background-color: #eee; */
    box-shadow: 3px 3px 5px #999;
}

#quiz-start {
    width: max-content;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 700;
    min-width: 200px;
    padding: 10px 50px;
    border: none;
    border-radius: 25px;
    color: white;
    background-color: #ff3b3f;
    transition: 0.1s background-color;
}
#quiz-start:hover {
    background-color: #c43838;
}

.quiz-start-btn {
    text-decoration: none;
    margin: 0 auto;
    margin-bottom: 10px;
}
